<!doctype HTML>
<head>
	<%- include("./../../../static/head.html") %>
	<link rel="stylesheet" type="text/css" href="/playerManager/playerManager.css">
	<script defer type="module" src="/playerManager/index.js"></script>
</head>

<body>
	<%- include("./../../../static/nav.html") %>
	<div id="body" class="container">
		<%- include("navbar.html") %>
        <div class="form-group mt-3 mb-3 row">
            <input type="text" class="form-control" id="search" placeholder="search">
        </div>
		<div id="playerlistDisplayContainer" class="playerManagerMainContainer">
		
		</div>
	</div>
</body>