<!doctype HTML>
<head>
	<%- include("./../../../static/head.html") %>
	<link rel="stylesheet" type="text/css" href="/playerManager/playerManager.css">
	<script defer src="/playerManager/profile.js"></script>
</head>

<body>
	<%- include("./../../../static/sidebar.html") %>
	<div id="body">
		<div id="currentUserBanner">
			<a href="/playerManager/profile"><div class="button-black menuItem">
				<p>Profile</p>
			</div></a>
			<a href="/playerManager/account"><div class="button-black menuItem">
				<p>Account</p>
			</div></a>
		</div>
		<div id="profileContainer">
			
		</div>
	</div>
</body>