<!doctype HTML>
<head>
	<%- include("./../../../static/head.html") %>
	<link rel="stylesheet" type="text/css" href="/playerManager/playerManager.css">
	<script defer src="/playerManager/whitelist.js"></script>
</head>

<body>
	<%- include("./../../../static/sidebar.html") %>
	<div id="body">
		<%- include("navbar.html") %>
		<div class="playerManagerMainContainer">
			<div id="whitelistDisplayContainer" class="playerManagerSplitContainer">
					
			</div>
			<div id="banlistDisplayContainer" class="playerManagerSplitContainer">
				
			</div>
		</div>
	</div>
</body>
